*
!client
client/controller/.gradle
client/controller/build
client/controller/output
client/driver/log
client/driver/results
!docker
docker/Dockerfile*
docker/docker-compose*.yml
docker/create-docker-compose.sh
!server
server/website/celerybeat-schedule*
server/website/log
server/website/*.pid
server/website/debug_*.tar.gz
server/website/session_knobs.json
server/website/dump_website.json
server/website/script
server/website/website/settings/*credentials.py
**/.git*
**/*.swp
**/*.swo
**/*~
**/*.pyc
**/*.log
**/*.bak
**/.DS_Store
**/__pycache__
