{% extends "base.html" %}
{% block body %}

<div class="container">
	<form class="gray-border form-horizontal " action="{% url 'change_password' %}" method="post" id="contact_form">{% csrf_token %}
		<fieldset>

			<!-- Form Name -->
			<h2 class="text-center"><b>Change Your Password</b></h2>
            
            <!-- Text input-->

			<div class="form-group">
				<label class="col-xs-3 control-label">Old Password</label>
				<div class="col-xs-6 input-group">
					<input name="old_password" placeholder="iheartcatnip" class="form-control" type="password">
				</div>
			</div>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-xs-3 control-label">New Password</label>
				<div class="col-xs-6 input-group">
					<input name="new_password1" placeholder="iheartcatnip" class="form-control" type="password">
				</div>
			</div>

			<!-- Text input-->

			<div class="form-group">
				<label class="col-xs-3 control-label">Confirm New Password</label>
				<div class="col-xs-6 input-group">
					<input name="new_password2" placeholder="iheartcatnip" class="form-control" type="password">
				</div>
			</div>

			<!-- Button -->
			<div class="form-group text-center">
				<button type="submit" class="btn btn-success" name="submit" value="submit-value">Change Password <span class="glyphicon glyphicon-send"></span></button>
			</div>

		</fieldset>
	</form>
</div>

{% endblock body %}
