{% extends "base.html" %}

{% block body %}
<div class="container">
<form action="/update_workload/" method="POST"> {% csrf_token %}
<table class="table table-striped table-bordered table-condensed table-hover">
    <caption><h4>Edit Workload Information</h4></caption>
    <tbody>
    <tr>
        <td><div class="text-right">Name:</div></td>
        <td><input type="text" id="name" name="name" value="{{ workload.name }}" maxlength="50" required></td>
    </tr>
    <!-- <tr>
        <td><div class="text-right">Creation time:</div></td>
        <td>{{ benchmark.creation_time }}</td>
    </tr> -->
    </tbody>
</table>
<button class="btn btn-default" type="submit" name="id" value="{{ workload.pk }}">Save</button>
<a class="btn btn-default" href="/workload/?id={{ workload.pk }}">Cancel</a>
</form>
</div>
{% endblock body %}
