# Logs and settings #
#####################
log/
*.log
local_settings.py

# celery/celerybeat #
#####################
celerybeat-schedule*
*.pid

# Management commands #
#######################
debug_*.tar.gz
session_knobs.json
dump_website.json
.info
