@import url("bootstrap.min.css");
@import url("bootstrap-select.min.css");

.table-nonfluid {
   width: auto;
}

.boxbody ul {
  list-style: none;
  margin: 0;
  padding: 0 0 0.2em;
  # margin-bottom: 0.5em;
}
.boxbody ul li { padding-left: 0.3em; }

.plotcontainer {
    margin-bottom: 2em;
}

.FixedHeader_Cloned th { background-color: white; }


/* SIDEBAR */

#sidebar {
    font-size: x-small;
}


/* .container { */
/*   padding-left: 10px; */
/* } */

.gray-border {
	min-height: 20px;
    margin: 50px 140px;
	background-color: #f5f5f5;
	border: 2px solid #dcdcdc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
	        box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
}

a {color: #3498db;}
a:hover {color: #217dbb;}

/* .navbar-default .navbar-brand { */
/* /*     color: #18bc9c; */ */
/*     color: #ffffff; */
/*     font-weight: bold; */
/*     font-size: 22px; */
/* } */

/* BREADCRUMBS */

div.breadcrumbs {
    background: #79aec8;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}

div.breadcrumbs a {
    color: #fff;
}

div.breadcrumbs a:focus, div.breadcrumbs a:hover {
    color: #c4dce8;
}

div.miniplot:hover { background-color: #F1F1F1; }

div.miniplot {
    cursor: pointer;
    margin: 0.5em;
    text-align: left;
    float: left;
    height: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* #success_message{ display: none;} */
